BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
SortIncludes: Never
ReflowComments: false
BreakStringLiterals: false
FixNamespaceComments: false
